@import 'variables';


header {
  box-shadow: 0px 15px 10px -15px #e7dede;
  & .nav {
    max-width: 1200px;
    display: flex;
    padding: 20px 20px 30px;
    margin: 0 auto;
    padding-bottom: 10px;
    align-items: center;
    justify-items: center;
    justify-content: space-between;
    background-color: $bg-color;
  }
}

.nav__logo {
    font-size: 25px;
    font-weight: 600;
    z-index: 999;
}

.nav__button {
    background-color: $red1;
    color: $white;
    border-radius: 30px;
    border-color: transparent;
    font-weight: 500;
    padding: 10px 30px;
    cursor: pointer;
    font-size: 15px;
}

.nav__button:hover {
  background-color: $red2;
  transition: background-color 0.3s ease;
}

.nav-button2 {
  background-color: $red1;
  color: $white;
  border-radius: 30px;
  border-color: transparent;
  font-weight: 500;
  font-size: 22px;
  padding: 10px 40px;
  cursor: pointer;
}

.open-main-nav, .main-nav, .mobile-menu, .vbp-header-menu-button__svg{
    display: none;
}

div.stroke {
    margin: 0 auto;
}

div.stroke ul {
    list-style: none;
    text-align: center;
    display: flex;
    justify-content: baseline;
    align-items: center;
    gap: 20px;
    margin: 0;
}

div.stroke ul li {
    vertical-align: middle;
}


div.stroke ul li a {
    padding: 5px 0px;
    text-decoration: none;
    color: $black;
    font-weight: 500;
    margin: 0 10px;
}

div.stroke ul li a,
div.stroke ul li a:after,
div.stroke ul li a:before {
    transition: all .5s;
}

div.stroke ul li a:hover {
    color: $green2;
}


div.stroke ul li a {
    position: relative;
}

div.stroke ul li a:after,
div.fill ul li a:after {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    width: 0%;
    content: '.';
    color: transparent;
    background: $green2;
    height: 1px;
}

div.stroke ul li a:hover:after {
    width: 100%;
}

.vbp-header-menu-button__svg {
  width: 30px;
  height: 30px;
  cursor: pointer;
  transform: scaleX(-1);
  z-index: 999;
}

.vbp-header-menu-button__svg line {
  stroke: #192a6b;
  stroke-dasharray: 100%;
  stroke-dashoffset: 0%;
  transition: transform 0.3s, stroke-dashoffset .4s;
  transform-origin: center;
  stroke-width: 3px;
}

.vbp-header-menu-button__svg .top {
  transform: translateY(-35%);
  -webkit-transform: translateY(-35%);
  -moz-transform: translateY(35%);
  -ms-transform: translateY(35%);
  -o-transform: translateY(35%);
}

.vbp-header-menu-button__svg .middle {
  transform: scaleX(1);
  -webkit-transform: scaleX(1);
  -moz-transform: scaleX(1);
  -ms-transform: scaleX(1);
  -o-transform: scaleX(1);
  transition: opacity .3s, transform .3s;
  -webkit-transition: opacity .3s, transform .3s;
  -moz-transition: opacity .3s, transform .3s;
  -ms-transition: opacity .3s, transform .3s;
  -o-transition: opacity .3s, transform .3s;

}

.vbp-header-menu-button__svg .bottom {
  transform: translateY(33%);
  -webkit-transform: translateY(33%);
  -moz-transform: translateY(33%);
  -ms-transform: translateY(33%);
  -o-transform: translateY(33%);
  stroke-dasharray: 100%;
  stroke-dashoffset: 9px;
}
.vbp-header-menu-button__svg:hover .bottom {
  stroke-dashoffset: 0%;
}
/*** Mode Croix ***/
body.menu-open .vbp-header-menu-button__svg .top {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  stroke-linecap: round;
}

body.menu-open .vbp-header-menu-button__svg .middle {
  transform: scaleX(0.1);
  -webkit-transform: scaleX(0.1);
  -moz-transform: scaleX(0.1);
  -ms-transform: scaleX(0.1);
  -o-transform: scaleX(0.1);
  opacity: 0;
}

body.menu-open .vbp-header-menu-button__svg line.bottom {
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  stroke-linecap: round;
  color: white;
}

body.menu-open .vbp-header-menu-button__svg .bottom {
  stroke-dashoffset: 0%;
}

@keyframes burgerAnimate {
  from {opacity: 0}
  to {opacity: 1}
}


@media screen and (max-width: 1450px) {
    .nav {
        padding: 10px 20px;
    }
    div.stroke ul {
        gap: 10px;
    }
}

@media screen and (max-width: 1000px) {
    div.stroke, .nav__button {
        display: none;
    }
    .vbp-header-menu-button__svg {
        display: block;
    }
    .mobile-menu {
        position: absolute;
        top: 0;
        width: 100%;
        height: 100%;
        background-color: $green1;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        gap: 30px;
        z-index: 98;
        animation: burgerAnimate 0.7s
    }
    
    .mobile-menu a {
        text-decoration: none;
        font-weight: 500;
        font-size: 24px;
        color: $black;
        transition: all 1s ease-in-out;
    }
}


